
.student-table {
    width: 800px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}


.student-table th,
.student-table td {
    padding: 5px;
    border: 1px solid #ccc;
}

.form-table {
    width: 800px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.form-table th,
.form-table td {
    padding: 6px;
    border: 1px solid #ccc;
}

.form-table th {
    width: 120px;
    text-align: center;
}

.form-table input[type="text"],
.form-table input[type="number"] {
    width: 140px;
}


.action-links {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 16px 0;
}


.center {
    text-align: center;
}